<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>salesforce.com</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/aztxt2_png1.png</loginLogo>
        <primaryColor>#1797C0</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#B1BAC1</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#51606E</secondaryColor>
        <tertiaryColor>#DDE4E9</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#51606E</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>nerfhearder4@hotmail.com</emailSenderAddress>
    <emailSenderName>Cirrus</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <networkMemberGroups>
        <profile>admin</profile>
    </networkMemberGroups>
    <picassoSite>AZ_Demo_Site_C</picassoSite>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>AZ_Demo_Site</site>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <urlPathPrefix>AZDEMO1</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
